.navbar{
  background-color: #333F50;
  border: none;
}

.new{
  position: absolute;
  color: red;
  font-size: 1.5em;
  left: 70px;
}

.badge{
  background-color: red;
}

.divider{
  height: 50px;
  width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    background-color: #333F50;
}

.description{
  height: 0px;
  opacity: 0;
}

#footerText{
    color: white;
}

.adminImage{
  position: relative;
}

#email{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.addInfo{
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.headlineContainer{
  background-color: gray;
  width: 100%;
  margin-top: 2%;
}

.infoContainer{
  margin-top: 2%;
}

.headline{
  margin-left: 1em;
  color: white;
  font-size: 1.5em
}

.navbar, .navbar a, .navbar a:visited{
  color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-header > a,
.navbar-default .navbar-nav > li {
    color: white!important;
    
}

.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-nav > li:hover {
    background-color: #fff;
    color: #428bca;
}

/*.navbar-nav a, .navbar-header, {
    border-bottom: 5px #fff solid;
}

.navbar-nav a:hover{
    border-bottom: 5px #428bca solid;
}*/

.container-fluid{
  padding-left: -10px;
  padding-right: -10px;
 /* width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}
#newImage{
  width: 100%;
}

.container{
  margin-top:10px; 
}