<form method="POST" action="/groups/new">
	<p> Name <input type="text" name="name"> </p>
	<ul>
		<ul> Post Name 1 <input type="text" name="postName1">
			<ul> Post Category <input type="text" name="postCategory11"></ul>
			<ul> Post Category <input type="text" name="postCategory12"></ul>
			<ul> Post Category <input type="text" name="postCategory13"></ul>
		</ul>
		<ul> Post Name 2<input type="text" name="postName2"> 
			<ul> Post Category <input type="text" name="postCategory21"></ul>
			<ul> Post Category <input type="text" name="postCategory22"></ul>
			<ul> Post Category <input type="text" name="postCategory23"></ul>
		</ul>
		<ul> Post Name 3<input type="text" name="postName3">
			<ul> Post Category <input type="text" name="postCategory31"></ul>
			<ul> Post Category <input type="text" name="postCategory32"></ul>
			<ul> Post Category <input type="text" name="postCategory33"></ul>
		</ul>
	<ul>
	<button type="submit">Create</button>
</form>